html,
body,
.game-container {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 100%;
  height: 100%;
}

.cell {
  position: relative;
  border: 1px solid black;
}

.cell-header {
  position: relative;
}

.ball {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 40%;
  border-radius: 100%;
}

.player-ball-1,
.player-1.active {
  background-color: red;
}

.player-ball-2,
.player-2.active {
  background-color: green;
}

.hidden {
  visibility: hidden;
}

.player-dashboard {
  text-align: center;
}
